# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Data - use DVC instead
data/raw/
data/processed/

# MLflow
mlruns/
mlflow.db

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Docker
*.log