# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Data - use DVC instead
data/raw/*
!data/raw/*.dvc
data/processed/*
!data/processed/*.dvc

# MLflow
mlruns/
mlflow.db

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Docker
*.log
